$primary-color: #ffefe7;
$secundary-color: #ffdac6;
$tertiary-color: #babd8d;
$primary-text-color: #7c6a0a;
$background: #fa9500;
$font-stack: "IBM Plex Sans", sans-serif;
$paragraph-size: 1.5rem;
$paddingB: 60px;

@mixin flexColumn($direction: null, $content : null, $align : null) {
  display: flex;
  flex-direction: $direction;
  justify-content: $content;
  align-items: $align;
}

@mixin buttonStyle() {
  button {
    background: none;
    border-style: none;
  }
}

body {
  margin: 0px;
  padding: 0px;
  font-family: $font-stack;
  background-color: $primary-color;

  svg path {
    stroke: currentColor;
  }

  svg {
    color: $primary-text-color;
  }
}

nav {
  width: auto;
  @include flexColumn(null, space-between, null);
  color: $primary-text-color;
  padding: 15px;

  p {
    font-size: $paragraph-size;
    padding-left: 30px;
  }

  .icons {
    display: flex;
    gap: 15px;
    @include buttonStyle;
  }
}

article {
  width: auto;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 30px;
  color: $primary-text-color;
  @include flexColumn(null, space-between, null);

  .impact-section {
    @include flexColumn(column, null, null);
    padding-top: 40px;
    gap: 24px;
  }

  h1 {
    font-size: 3em;
    padding: 0;
    margin: 0;
  }

  p {
    width: 70%;
    font-size: $paragraph-size;
  }

  @include buttonStyle;

  button {
    width: 16vw;
    padding: 20px;
    background-color: $background;
    color: white;
    border-radius: 28px;
    font-size: 1.2rem;
    font-weight: bold;
    &:hover{
      transform: scale(1.1);
      transition-duration: 0.3s;
    }
  }

  button:hover {
    cursor: pointer;
    background-color: #fca118;
  }

  figure {
    width: 90%;
  }

  img {
    width: 100%;
    height: 80%;
    border-radius: 18px;
  }
}

section {
  width: auto;
  height: auto;
  padding: 60px;

  h2 {
    color: $primary-text-color;
    font-size: 2em;
  }

  .healthcare {
    padding-bottom: $paddingB;

    h2 {
      font-weight: 300;
      padding-bottom: $paddingB;
    }

    .card-section {
      @include flexColumn(row, center, center);
      width: auto;
      height: auto;
      column-gap: 100px;
      row-gap: 80px;
      flex-wrap: wrap;
    }

    .product-card {
      width: 15vw;
      height: auto;
      padding: 20px;
      color: $primary-text-color;
      background-color: $secundary-color;
      border-radius: 12px;

      .icon {
        width: 100%;
        @include flexColumn(null, flex-end, );
        padding-bottom: 12px;
        svg {
          width: 28px;
          height: 28px;
        }
      }

      svg:hover {
        cursor: pointer;
        color: white;
      }

      .product-image {
        width: 100%;
        height: auto;
        @include flexColumn(null, center, center);
        img {
          width: 16vw;
          height: 30vh;
          object-fit: cover;
          border-radius: 6px;
        }
      }
    }
  }

  .furniture {
    @extend .healthcare;
    .product-card {
      background-color: $tertiary-color;
      color: white;
    }
  }
}

section {
  .about-us{
    padding-bottom: $paddingB;
    @extend .healthcare;
    h2{
      font-weight: bold;
    }

    .mission-section{
      @include flexColumn(row, space-around, center);

      .earth{
        width: 40%;
        @include flexColumn(row);
        gap: 40px;
         p{
          color: #E86424;
          text-align: center;
          margin: auto 0;
         }

         img{
          object-fit: contain;
         }
      }

      .innovation{
        @extend .earth;
      }
    }
  }
}

.gallery{
  @extend .about-us;
  &-images{
    width: 100%;
    display: flex;
    justify-content: space-between;
  
    img {
      aspect-ratio: 1/1;
      height: 100%;
      width: 30%;
      object-fit: cover;
      object-position: center;
      border-radius: 16px;
      transition: transform 0.3s;

      &:hover{
        transform: scale(1.1);
      }
    }
  }
}

.location{
  $text-color: #E86424;
  h2{
    padding-bottom: $paddingB;
    padding-top: $paddingB;
  }
  .map{
    @include flexColumn(row, center, center);
    padding-bottom: 50px;

    img{
      width: 80vw;
    }
  }

  h3, p{
    font-size:$paragraph-size;
    color: $text-color;
  }
}

footer {
  width: auto;
  height: auto;
  padding: 40px;
  background-color: $background;
  color: white;

  p{
    cursor: pointer;
  }

  .social-media{
    @include flexColumn(row, center, center);
    gap: 40px;
    padding: 30px;

    img{
      cursor: pointer;
    }
  }
}

//Responsive - Mobile

@media (max-width: 600px) {
  section .healthcare h2 {
    font-size: 1.7em;
  }

  article {
    @include flexColumn(column, center, center);

    h1 {
      font-size: 2em;
    }

    p {
      width: 100%;
      font-size: 1rem;
      text-align: justify;
    }

    button {
      width: 77vw;
      padding: 14px;
    }

    figure {
      width: 100%;
      order: -1;
      margin: 0;
    }

    img {
      width: 100%;
      border-radius: 18px;
      object-fit: cover;
    }
  }

  section .healthcare .product-card {
    width: 90vw;

    .product-image img {
      width: 100%;
    }
  }
}
